/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/
	/*force scrol bar to fix jumping content*/
	html { overflow-y: scroll; }
	
	code { font-family: monospace; }
	pre code { overflow-x: auto; }
	
	li ul li p { line-height: 21px; margin-bottom: 0px }
	li ol li p { line-height: 21px; margin-bottom: 6px }
	
	#save-msg { z-index: 2; 
				display: none;
				position: relative;
				float: right;}